@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Poppins' sans-serif;
}
body{
    width: 100%;
    position: relative;
    background-color: #E5E7EB;
}

#menu{
    background-color: #111827;
    width: 300px;
    height: 100%; 
}

#menu logo{ 
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img{
    width: 40px;
    margin-right: 15px;  
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0; 
    transition: 0.3s ease;
}

#menu .items li:nth-child(1){
   border-left: 4px solid #fff;
}

#menu .items li:hover{
    cursor: pointer;
    background-color: #253047;
}

#menu .items li i{
    color: rgb(77, 108, 139);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
    font-size:14;
    margin: 0 10px 0 25px;
}

#menu .items li a{
    color: lightgrey;
    font-weight: 300px;
    text-decoration: none; 
    transition: 0.3s ease; 
}

#menu .items li:hover i, #menu .items li:hover i{
    background-color: #F3F4F6;
}